/* VÁLTOZÓK */
/* COLORS */
/* line 3, sass/media.scss */
body, html {
  height: 100%;
  background: white;
}

/* line 7, sass/media.scss */
.pw {
  width: 1150px;
  max-width: 1150px;
  margin: 0 auto;
}

/* line 13, sass/media.scss */
header {
  background: white;
}

/* line 18, sass/media.scss */
header > .top > .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
/* line 25, sass/media.scss */
header > .top > .wrapper .top-center {
  flex-basis: 250px;
  position: relative;
}
/* line 28, sass/media.scss */
header > .top > .wrapper .top-center .logo {
  background: white;
  position: absolute;
  z-index: 10;
  left: 0;
  right: 0;
  top: 0;
  bottom: -20px;
}
/* line 37, sass/media.scss */
header > .top > .wrapper .top-center .logo img {
  position: absolute;
  left: 50%;
  top: 50%;
  max-width: initial;
  width: auto;
  height: 80%;
  max-height: 80%;
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/* line 51, sass/media.scss */
header > .top > .wrapper .top-left,
header > .top > .wrapper .top-right {
  flex-basis: calc((100% - 250px) / 2);
}
/* line 56, sass/media.scss */
header > .top > .wrapper .top-left ul {
  float: left;
}
/* line 60, sass/media.scss */
header > .top > .wrapper .top-left a.active {
  position: relative;
  color: #2c62c7;
}
/* line 64, sass/media.scss */
header > .top > .wrapper .top-left a.active:after {
  content: "";
  height: 5px;
  position: absolute;
  bottom: 10px;
  left: 25px;
  right: 25px;
  background: #2c62c7;
}
/* line 76, sass/media.scss */
header > .top > .wrapper .top-right ul {
  float: right;
}
/* line 81, sass/media.scss */
header > .top > .wrapper .navigator {
  height: 60px;
}
/* line 83, sass/media.scss */
header > .top > .wrapper .navigator ul, header > .top > .wrapper .navigator li {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 89, sass/media.scss */
header > .top > .wrapper .navigator ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  height: 60px;
}
/* line 96, sass/media.scss */
header > .top > .wrapper .navigator ul li a {
  line-height: 60px;
  color: #5b5b5b;
  text-decoration: none;
  padding: 0 25px;
  display: block;
  text-align: center;
  text-transform: uppercase;
}
/* line 105, sass/media.scss */
header > .top > .wrapper .navigator ul li a:hover {
  color: black;
}
/* line 111, sass/media.scss */
header > .top > .wrapper .navigator ul li.login a {
  background: #2c62c7;
  color: white;
}
/* line 117, sass/media.scss */
header > .top > .wrapper .navigator ul li.reg a {
  background: #1f4da3;
  color: white;
}

/* line 127, sass/media.scss */
.inside-content {
  min-height: 600px;
}

/* line 132, sass/media.scss */
.home-after-header > .wrapper {
  position: relative;
}
/* line 135, sass/media.scss */
.home-after-header > .wrapper .texts {
  text-align: center;
  position: absolute;
  top: 60px;
  left: 50%;
  z-index: 2;
  color: #4c4c4c;
  font-size: 1.4vw;
  -moz-transform: translateX(-50%);
  transform: translateX(-50%);
}
/* line 146, sass/media.scss */
.home-after-header > .wrapper .texts h1 {
  text-transform: uppercase;
  font-weight: 300;
  margin: 0 0 20px 0;
}
/* line 151, sass/media.scss */
.home-after-header > .wrapper .texts h2 {
  font-size: 1.4rem;
  font-weight: bold;
  margin: 0 0 5px 0;
}
/* line 158, sass/media.scss */
.home-after-header > .wrapper .visual-boxes {
  position: relative;
  z-index: 1;
}
/* line 161, sass/media.scss */
.home-after-header > .wrapper .visual-boxes svg {
  width: 100%;
}

/* line 168, sass/media.scss */
footer {
  background: #2c62c7;
  color: white;
}
/* line 172, sass/media.scss */
footer .footer-inner {
  padding: 25px 0;
}
/* line 175, sass/media.scss */
footer .footer-inner .logo {
  text-align: center;
  margin: 0 0 20px 0;
}
/* line 178, sass/media.scss */
footer .footer-inner .logo img {
  max-height: 80px;
  height: 80px;
  width: auto;
  max-width: initial;
}
/* line 187, sass/media.scss */
footer .footer-inner .navigator ul, footer .footer-inner .navigator li {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 193, sass/media.scss */
footer .footer-inner .navigator ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
/* line 201, sass/media.scss */
footer .footer-inner .navigator ul li a {
  padding: 10px;
  display: block;
  text-align: center;
}
/* line 211, sass/media.scss */
footer a, footer a:link, footer a:visited {
  color: #ffffff;
  text-decoration: none;
}
/* line 216, sass/media.scss */
footer a:hover {
  color: #66c0b7;
}
/* line 220, sass/media.scss */
footer .copyright {
  background: #1f4da3;
  color: #a2d9f7;
  text-align: center;
  padding: 20px 0;
}
/* line 226, sass/media.scss */
footer .copyright a, footer .copyright a:link, footer .copyright a:visited {
  color: #a2d9f7;
}
/* line 230, sass/media.scss */
footer .copyright .poweredby {
  margin-left: 25px;
}

/* 1024 - 1050 px - MEDIUM */
/* 1024 - 1050 px - MEDIUM */
/* 0 - 1023 px - SMARTPHONE */
/* 0 - 640 px - SMARTPHONE */
/* 0 - 375 px - SMARTPHONE */
/* 0 - 375 px - SMARTPHONE */
