/* VÁLTOZÓK */
/* COLORS */
/* line 3, sass/media.scss */
body, html {
  height: 100%;
  background: white;
}

/* line 7, sass/media.scss */
.pw {
  width: 1150px;
  max-width: 1150px;
  margin: 0 auto;
}

/* line 13, sass/media.scss */
header {
  background: white;
}

/* line 18, sass/media.scss */
body:not(.homepage) header {
  border-bottom: 60px solid #1f4da3;
}

/* line 23, sass/media.scss */
body.singlepage header {
  border-bottom: 85px solid #1f4da3;
}

/* line 29, sass/media.scss */
header > .top > .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
/* line 36, sass/media.scss */
header > .top > .wrapper .top-center {
  flex-basis: 250px;
  position: relative;
}
/* line 39, sass/media.scss */
header > .top > .wrapper .top-center .logo {
  background: white;
  position: absolute;
  z-index: 10;
  left: 0;
  right: 0;
  top: 0;
  bottom: -20px;
}
/* line 48, sass/media.scss */
header > .top > .wrapper .top-center .logo img {
  position: absolute;
  left: 50%;
  top: 50%;
  max-width: initial;
  width: auto;
  height: 80%;
  max-height: 80%;
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/* line 62, sass/media.scss */
header > .top > .wrapper .top-left,
header > .top > .wrapper .top-right {
  flex-basis: calc((100% - 250px) / 2);
}
/* line 68, sass/media.scss */
header > .top > .wrapper .top-left ul,
header > .top > .wrapper .top-right ul {
  float: left;
}
/* line 72, sass/media.scss */
header > .top > .wrapper .top-left a.active,
header > .top > .wrapper .top-right a.active {
  position: relative;
  color: #2c62c7;
}
/* line 76, sass/media.scss */
header > .top > .wrapper .top-left a.active:after,
header > .top > .wrapper .top-right a.active:after {
  content: "";
  height: 5px;
  position: absolute;
  bottom: 10px;
  left: 25px;
  right: 25px;
  background: #2c62c7;
}
/* line 88, sass/media.scss */
header > .top > .wrapper .top-right ul {
  float: right;
}
/* line 93, sass/media.scss */
header > .top > .wrapper .navigator {
  height: 60px;
}
/* line 95, sass/media.scss */
header > .top > .wrapper .navigator ul, header > .top > .wrapper .navigator li {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 101, sass/media.scss */
header > .top > .wrapper .navigator ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  height: 60px;
}
/* line 108, sass/media.scss */
header > .top > .wrapper .navigator ul li a {
  line-height: 60px;
  color: #5b5b5b;
  text-decoration: none;
  padding: 0 25px;
  display: block;
  text-align: center;
  text-transform: uppercase;
}
/* line 117, sass/media.scss */
header > .top > .wrapper .navigator ul li a:hover {
  color: black;
}
/* line 123, sass/media.scss */
header > .top > .wrapper .navigator ul li.login a {
  background: #2c62c7;
  color: white;
}
/* line 129, sass/media.scss */
header > .top > .wrapper .navigator ul li.reg a {
  background: #1f4da3;
  color: white;
}

/* line 139, sass/media.scss */
.inside-content {
  min-height: 600px;
}

/* line 144, sass/media.scss */
body.singlepage .page-reader {
  padding: 0 0 40px 0;
  font-size: 1rem;
  line-height: 1.45;
}
/* line 148, sass/media.scss */
body.singlepage .page-reader .header {
  margin-top: -45px;
  margin-bottom: 10px;
}
/* line 151, sass/media.scss */
body.singlepage .page-reader .header h1 {
  margin: 0;
  background: #ffffff;
  padding: 15px 25px;
  float: left;
  color: black;
  text-transform: uppercase;
  letter-spacing: -1px;
}

/* line 165, sass/media.scss */
.home-after-header > .wrapper {
  position: relative;
}
/* line 168, sass/media.scss */
.home-after-header > .wrapper .texts {
  text-align: center;
  position: absolute;
  top: 60px;
  left: 50%;
  z-index: 2;
  color: #4c4c4c;
  font-size: 1.4vw;
  -moz-transform: translateX(-50%);
  transform: translateX(-50%);
}
/* line 179, sass/media.scss */
.home-after-header > .wrapper .texts h1 {
  text-transform: uppercase;
  font-weight: 300;
  margin: 0 0 20px 0;
}
/* line 184, sass/media.scss */
.home-after-header > .wrapper .texts h2 {
  font-size: 1.4rem;
  font-weight: bold;
  margin: 0 0 5px 0;
}
/* line 191, sass/media.scss */
.home-after-header > .wrapper .visual-boxes {
  position: relative;
  z-index: 1;
}
/* line 194, sass/media.scss */
.home-after-header > .wrapper .visual-boxes svg {
  width: 100%;
}

/* line 204, sass/media.scss */
.ajanlat-requester .header > .d-flex > .titles {
  flex-basis: 45%;
  text-transform: uppercase;
  font-size: 1.5rem;
  padding-right: 25px;
}
/* line 209, sass/media.scss */
.ajanlat-requester .header > .d-flex > .titles > div {
  padding: 4px 0;
}
/* line 212, sass/media.scss */
.ajanlat-requester .header > .d-flex > .titles .main {
  border-bottom: 0.5px solid #d0d0d0;
}
/* line 215, sass/media.scss */
.ajanlat-requester .header > .d-flex > .titles .sub {
  font-size: 1rem;
  font-weight: bold;
  color: #66c0b7;
}
/* line 221, sass/media.scss */
.ajanlat-requester .header > .d-flex > .steps {
  flex-basis: 55%;
  position: relative;
}
/* line 224, sass/media.scss */
.ajanlat-requester .header > .d-flex > .steps .step-progress {
  height: 5px;
  background: #d1d1d1;
  position: absolute;
  left: 5px;
  top: 50%;
  right: 5px;
  z-index: 1;
  border-radius: .25rem;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 235, sass/media.scss */
.ajanlat-requester .header > .d-flex > .steps .step-progress .progress {
  width: 50%;
  background: #2c62c7 !important;
  position: absolute;
  left: 0;
  top: 0;
  height: 5px;
}
/* line 244, sass/media.scss */
.ajanlat-requester .header > .d-flex > .steps .step-holder {
  position: relative;
  z-index: 20;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding: 24px 0 0 0;
}
/* line 255, sass/media.scss */
.ajanlat-requester .header > .d-flex > .steps .step-holder .step {
  cursor: pointer;
  outline: none;
}
/* line 258, sass/media.scss */
.ajanlat-requester .header > .d-flex > .steps .step-holder .step .index {
  background: #d1d1d1;
  margin: 0 auto;
  color: white;
  text-align: center;
  line-height: 40px;
  height: 40px;
  width: 40px;
  border-radius: 40px;
  font-size: 1.6rem;
  font-weight: bold;
  border: 4px solid white;
  box-shadow: 0 0 0 4px #d1d1d1;
  box-sizing: content-box;
  position: relative;
}
/* line 273, sass/media.scss */
.ajanlat-requester .header > .d-flex > .steps .step-holder .step .index span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/* line 281, sass/media.scss */
.ajanlat-requester .header > .d-flex > .steps .step-holder .step .text {
  text-align: center;
  text-transform: uppercase;
  color: #686868;
  font-size: 0.7rem;
  margin: 10px 0 0 0;
}
/* line 290, sass/media.scss */
.ajanlat-requester .header > .d-flex > .steps .step-holder .step.active .index {
  background: #2c62c7;
  box-shadow: 0 0 0 4px #2c62c7;
}
/* line 296, sass/media.scss */
.ajanlat-requester .header > .d-flex > .steps .step-holder .step.now .index {
  background: #66c0b7;
  box-shadow: 0 0 0 4px #66c0b7;
}
/* line 307, sass/media.scss */
.ajanlat-requester .step-containers {
  margin: 25px 0;
}
/* line 310, sass/media.scss */
.ajanlat-requester .step-containers .services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
  padding-bottom: 50px;
}
/* line 318, sass/media.scss */
.ajanlat-requester .step-containers .services > .service {
  flex-basis: calc(100% / 5);
  padding: 15px;
}
/* line 321, sass/media.scss */
.ajanlat-requester .step-containers .services > .service > .wrapper {
  background: white;
  border-radius: 10px;
  font-size: 0.9rem;
  border: 0.5px solid #d1d1d1;
  overflow: hidden;
  -webkit-transition: all .5s;
  transition: all .5s;
  -webkit-transform-origin: center;
  transform-origin: center;
}
/* line 332, sass/media.scss */
.ajanlat-requester .step-containers .services > .service > .wrapper .title {
  padding: 10px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1rem;
  padding-right: 25px;
  line-height: 1.2;
  height: 60px;
}
/* line 342, sass/media.scss */
.ajanlat-requester .step-containers .services > .service > .wrapper .image {
  height: 8vw;
  background: #f3f3f3;
}
/* line 347, sass/media.scss */
.ajanlat-requester .step-containers .services > .service > .wrapper .desc {
  font-size: 0.8rem;
  font-weight: 300;
  line-height: 1.3;
  padding: 10px;
}
/* line 353, sass/media.scss */
.ajanlat-requester .step-containers .services > .service > .wrapper .more-info {
  display: none;
  background: #2c62c7;
  color: white;
  padding: 5px 15px;
  font-size: 0.8rem;
}
/* line 360, sass/media.scss */
.ajanlat-requester .step-containers .services > .service > .wrapper .sel-item {
  display: none;
  font-size: 0.8rem;
}
/* line 363, sass/media.scss */
.ajanlat-requester .step-containers .services > .service > .wrapper .sel-item label {
  padding: 5px 15px;
  margin: 0;
  cursor: pointer;
  display: block;
  width: 100%;
}
/* line 374, sass/media.scss */
.ajanlat-requester .step-containers .services > .service:hover > .wrapper {
  box-shadow: 0 0 20px -10px #717171;
  transform: scale(1.1);
}
/* line 379, sass/media.scss */
.ajanlat-requester .step-containers .services > .service:hover .sel-item,
.ajanlat-requester .step-containers .services > .service:hover .more-info {
  display: block;
}
/* line 386, sass/media.scss */
.ajanlat-requester .step-containers .requester-form {
  background: #f5f4f4;
  border-radius: 5px;
  border: 0.5px solid #dbdbdb;
}
/* line 390, sass/media.scss */
.ajanlat-requester .step-containers .requester-form > .wrapper {
  padding: 25px;
}
/* line 393, sass/media.scss */
.ajanlat-requester .step-containers .requester-form > .wrapper .row + .row {
  margin-top: 15px;
}
/* line 397, sass/media.scss */
.ajanlat-requester .step-containers .requester-form > .wrapper input[type=text], .ajanlat-requester .step-containers .requester-form > .wrapper textarea {
  font-weight: bold;
  color: black;
  border-radius: 20px;
  border: 0.5px solid #d2d2d2;
}
/* line 402, sass/media.scss */
.ajanlat-requester .step-containers .requester-form > .wrapper input[type=text]::placeholder, .ajanlat-requester .step-containers .requester-form > .wrapper textarea::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #acacac;
  font-weight: 300;
  opacity: 1;
  /* Firefox */
}
/* line 408, sass/media.scss */
.ajanlat-requester .step-containers .requester-form > .wrapper input[type=text]:-ms-input-placeholder, .ajanlat-requester .step-containers .requester-form > .wrapper textarea:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #acacac;
  font-weight: 300;
}
/* line 413, sass/media.scss */
.ajanlat-requester .step-containers .requester-form > .wrapper input[type=text]::-ms-input-placeholder, .ajanlat-requester .step-containers .requester-form > .wrapper textarea::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #acacac;
  font-weight: 300;
}
/* line 419, sass/media.scss */
.ajanlat-requester .step-containers .requester-form > .wrapper textarea {
  width: 100%;
  padding: 10px;
}

/* line 428, sass/media.scss */
footer {
  background: #2c62c7;
  color: white;
}
/* line 432, sass/media.scss */
footer .footer-inner {
  padding: 25px 0;
}
/* line 435, sass/media.scss */
footer .footer-inner .logo {
  text-align: center;
  margin: 0 0 20px 0;
}
/* line 438, sass/media.scss */
footer .footer-inner .logo img {
  max-height: 80px;
  height: 80px;
  width: auto;
  max-width: initial;
}
/* line 447, sass/media.scss */
footer .footer-inner .navigator ul, footer .footer-inner .navigator li {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 453, sass/media.scss */
footer .footer-inner .navigator ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
/* line 461, sass/media.scss */
footer .footer-inner .navigator ul li a {
  padding: 10px;
  display: block;
  text-align: center;
}
/* line 471, sass/media.scss */
footer a, footer a:link, footer a:visited {
  color: #ffffff;
  text-decoration: none;
}
/* line 476, sass/media.scss */
footer a:hover {
  color: #66c0b7;
}
/* line 480, sass/media.scss */
footer .copyright {
  background: #1f4da3;
  color: #a2d9f7;
  text-align: center;
  padding: 20px 0;
}
/* line 486, sass/media.scss */
footer .copyright a, footer .copyright a:link, footer .copyright a:visited {
  color: #a2d9f7;
}
/* line 490, sass/media.scss */
footer .copyright .poweredby {
  margin-left: 25px;
}

/* 1024 - 1050 px - MEDIUM */
/* 1024 - 1050 px - MEDIUM */
/* 0 - 1023 px - SMARTPHONE */
/* 0 - 640 px - SMARTPHONE */
/* 0 - 375 px - SMARTPHONE */
/* 0 - 375 px - SMARTPHONE */
