@import url(//fonts.googleapis.com/css?family=PT+Sans);
/* line 4, sass/media.scss */
input[type=checkbox] {
  margin: 0;
}

/* line 7, sass/media.scss */
body {
  background: #f4f4f4;
  font-family: 'PT Sans', sans-serif;
  font-size: 1.43rem;
  height: 100%;
  position: relative;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#41b7f2+14,41b7f2+14,2a78dd+66 */
  background: #41b7f2;
  /* Old browsers */
  background: -moz-linear-gradient(45deg, #41b7f2 14%, #41b7f2 14%, #2a78dd 66%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #41b7f2 14%, #41b7f2 14%, #2a78dd 66%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #41b7f2 14%, #41b7f2 14%, #2a78dd 66%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#41b7f2', endColorstr='#2a78dd',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
}

/* line 21, sass/media.scss */
body, html {
  position: relative;
  font-size: 1rem;
}

/* line 25, sass/media.scss */
body.blured > * {
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
}

/* line 32, sass/media.scss */
body.logged-in {
  background: #edf1f5;
  color: #818e9d;
}

/* line 36, sass/media.scss */
input, textarea {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
}

/* line 43, sass/media.scss */
.left {
  text-align: left;
}

/* line 46, sass/media.scss */
.right {
  text-align: right;
}

/* line 49, sass/media.scss */
.center {
  text-align: center;
}

/* line 52, sass/media.scss */
.form-control:focus {
  border: 1px solid #a2c2ff !important;
  box-shadow: 0 0 0 0.2rem rgba(9, 127, 189, 0.28) !important;
}

/* line 56, sass/media.scss */
.form-control {
  border: 1px solid #e5e5e5;
}

/* line 59, sass/media.scss */
#login {
  z-index: 10;
  position: relative;
  width: 500px;
  max-width: 500px;
  margin: 0 auto;
  padding: 15% 0 0 0;
}

/* line 67, sass/media.scss */
#login .login-box-holder {
  background: black;
}

/* line 70, sass/media.scss */
#login .logo img {
  width: 50%;
  max-width: 50%;
}

/* line 74, sass/media.scss */
#login .input-group-text {
  background-color: transparent;
  border: 1px solid #e5e5e5;
  border-right: none;
  color: #676767;
}

/* line 81, sass/media.scss */
#login input[type=text],
#login input[type=password] {
  padding: 0 15px;
  line-height: 45px;
  background: #efefef;
  color: black;
  font-weight: bold;
}

/* line 89, sass/media.scss */
#login input[type=password]::placeholder,
#login input[type=text]::placeholder {
  color: #a4a4a4;
  font-size: 0.75rem;
  font-weight: 400;
  opacity: 1;
}

/* line 97, sass/media.scss */
#login input[type=password]:-ms-input-placeholder,
#login input[type=text]:-ms-input-placeholder {
  color: #a4a4a4;
  font-size: 0.75rem;
  font-weight: 400;
}

/* line 105, sass/media.scss */
#login input[type=password]::-ms-input-placeholder,
#login input[type=text]::-ms-input-placeholder {
  color: #a4a4a4;
  font-size: 0.75rem;
  font-weight: 400;
}

/* line 111, sass/media.scss */
#login h3 {
  margin-bottom: 25px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 2.5vw;
  font-weight: 300;
  margin: 15px 0;
}

/* line 120, sass/media.scss */
#login .bg {
  background-color: #ffffff !important;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 5px 30px -10px #828282;
}

/* line 126, sass/media.scss */
#login .login-box-holder {
  border-radius: 10px;
  background: #4fb3ff;
  box-shadow: 0 5px 24px -15px black;
}

/* line 131, sass/media.scss */
#login .copyright {
  color: white;
  font-size: 0.68rem;
  margin: 25px 0 0 0;
}

/* line 136, sass/media.scss */
#login .copyright a {
  color: white;
}

/* line 139, sass/media.scss */
#login .copyright .devby {
  margin-left: 20px;
}

/* line 143, sass/media.scss */
#login .reset-password a,
#login .login-box-holder a:not(.btn) {
  color: #5c5c5c;
}

/* line 146, sass/media.scss */
#login .reset-password a {
  font-size: 0.9rem;
  color: #acacac;
}

/* line 150, sass/media.scss */
#login .aszf a {
  color: #3e8ff7;
}

/* line 153, sass/media.scss */
#login .aszf label {
  cursor: pointer;
}

/* line 156, sass/media.scss */
#content {
  position: relative;
  height: 100%;
}

/* line 160, sass/media.scss */
.activation-status {
  text-align: center;
}

/* line 163, sass/media.scss */
.activation-status h2 {
  font-size: 1.7rem;
  color: black;
  margin: 0 0 8px 0;
}

/* line 168, sass/media.scss */
.activation-status i {
  margin: 0 0 10px 0;
  color: #5bd98e;
}

/* line 172, sass/media.scss */
.activation-status .sub {
  margin: 5px 0;
  color: #5c5c5c;
}

/* line 176, sass/media.scss */
.slideMenu {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  background: white;
  z-index: 1000;
  width: 280px;
}
/* line 184, sass/media.scss */
.slideMenu .headerlogo {
  background: #1f4da3;
  height: 105px;
  position: relative;
}
/* line 189, sass/media.scss */
.slideMenu .headerlogo img {
  position: absolute;
  width: auto;
  max-width: initial;
  height: 70%;
  max-height: 70%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* line 201, sass/media.scss */
#top {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 999;
  padding-left: 280px;
  color: white;
  font-size: 1rem;
}
/* line 212, sass/media.scss */
#top .control-bar {
  background: black;
  height: 60px;
  font-size: 0.85rem;
  padding: 0 25px;
}
/* line 217, sass/media.scss */
#top .control-bar a, #top .control-bar a:hover, #top .control-bar a:visited {
  color: white;
  text-decoration: none;
}
/* line 222, sass/media.scss */
#top .control-bar > div.d-flex {
  height: 60px;
}
/* line 226, sass/media.scss */
#top .control-bar .message-alerts .ico {
  padding-right: 20px;
  position: relative;
}
/* line 229, sass/media.scss */
#top .control-bar .message-alerts .ico .has-msg {
  position: absolute;
  right: 11px;
  top: -6px;
  color: #ff4444;
  pointer-events: none;
}
/* line 236, sass/media.scss */
#top .control-bar .message-alerts .ico a, #top .control-bar .message-alerts .ico a:hover, #top .control-bar .message-alerts .ico a:visited {
  color: white;
}
/* line 239, sass/media.scss */
#top .control-bar .message-alerts .ico i {
  font-size: 20px;
  vertical-align: middle;
}
/* line 244, sass/media.scss */
#top .control-bar .message-alerts .alert-message {
  background: #f7f6d1;
  color: #4a4a4a;
  font-size: 0.7rem;
  border-radius: 5px;
  padding: 5px;
}
/* line 251, sass/media.scss */
#top .control-bar .message-alerts .alert-message a {
  background: #656565;
  color: white;
  text-decoration: none;
  padding: 4px 6px;
  margin-left: 4px;
  border-radius: 5px;
  font-size: 0.6rem;
  vertical-align: text-top;
}
/* line 263, sass/media.scss */
#top .control-bar .user-block {
  font-size: 1rem;
  font-weight: 300;
}
/* line 266, sass/media.scss */
#top .control-bar .user-block i.fa-user-circle {
  font-size: 1.54rem;
  margin-right: 5px;
  vertical-align: sub;
}
/* line 273, sass/media.scss */
#top .title-bar {
  background: white;
  height: 45px;
  color: #818e9d;
  font-size: 1.1rem;
  padding: 0 25px;
}
/* line 279, sass/media.scss */
#top .title-bar .page-title {
  text-transform: uppercase;
}
/* line 282, sass/media.scss */
#top .title-bar > div.d-flex {
  height: 45px;
}

/* line 287, sass/media.scss */
.ct {
  margin-top: 105px;
}

/* line 290, sass/media.scss */
.innerContent {
  padding: 25px;
}

/* line 293, sass/media.scss */
.page-pagination {
  font-size: 0.8rem;
  margin-right: 15px;
  color: #d7d7d7;
}
/* line 297, sass/media.scss */
.page-pagination a {
  margin: 0 3px;
}
/* line 300, sass/media.scss */
.page-pagination a, .page-pagination a:visited {
  color: #818e9d;
}
/* line 304, sass/media.scss */
.page-pagination a:last-child {
  color: #3d98e2;
}

/* line 309, sass/media.scss */
.menu ul, .menu li {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* line 315, sass/media.scss */
.menu > ul > li > a {
  color: #818e9d;
  text-decoration: none;
  display: block;
  line-height: 1.4;
  padding: 15px 30px;
}
/* line 323, sass/media.scss */
.menu li.div {
  background: #edeff0;
  height: 1px;
}
/* line 327, sass/media.scss */
.menu .ni {
  display: none;
}

/* line 333, sass/media.scss */
.logout a,
.logout a:visited,
.logout a:hover {
  text-decoration: none;
  background: #818e9d;
  color: white;
  font-size: 0.75rem;
  padding: 6px 10px;
  border-radius: 5px;
}

/* line 344, sass/media.scss */
body.user-group-user #top .control-bar {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3d98e2+15,2a78dd+66 */
  background: #3d98e2;
  /* Old browsers */
  background: -moz-linear-gradient(45deg, #3d98e2 15%, #2a78dd 66%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #3d98e2 15%, #2a78dd 66%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #3d98e2 15%, #2a78dd 66%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d98e2', endColorstr='#2a78dd',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
}
