@import url(//fonts.googleapis.com/css?family=PT+Sans);
input[type=checkbox]{
	margin:0;
}
body{
	background: #f4f4f4;
	font-family: 'PT Sans', sans-serif;
	font-size:1.43rem;
	height: 100%;
  position: relative;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#41b7f2+14,41b7f2+14,2a78dd+66 */
background: #41b7f2; /* Old browsers */
background: -moz-linear-gradient(45deg, #41b7f2 14%, #41b7f2 14%, #2a78dd 66%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg, #41b7f2 14%,#41b7f2 14%,#2a78dd 66%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg, #41b7f2 14%,#41b7f2 14%,#2a78dd 66%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#41b7f2', endColorstr='#2a78dd',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

body, html {
	position: relative;
  font-size: 1rem;
}
body.blured > *  {
 	-webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);
}
input, textarea{
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
}
.left{
  text-align: left;
}
.right{
  text-align: right;
}
.center{
  text-align: center;
}
.form-control:focus{
	border: 1px solid #a2c2ff !important;
  box-shadow: 0 0 0 0.2rem rgba(9, 127, 189, 0.28) !important;
}
.form-control{
  border: 1px solid #e5e5e5;
}
#login {
  z-index: 10;
  position: relative;
  width: 500px;
  max-width: 500px;
	margin: 0 auto;
	padding: 20% 0;
}
#login .login-box-holder{
  background: black;
}
#login .logo img {
  width: 50%;
  max-width: 50%;
}
#login .input-group-text{
  background-color: transparent;
  border: 1px solid #e5e5e5;
  border-right: none;
  color: #676767;
}
#login input[type=text],
#login input[type=password]{
  padding: 0 15px;
  line-height: 45px;
  background: #efefef;
  color: black;
  font-weight: bold;
}
#login input[type=password]::placeholder,
#login input[type=text]::placeholder{
  color: #a4a4a4;
  font-size:0.75rem;
  font-weight: 400;
  opacity: 1;
}

#login input[type=password]:-ms-input-placeholder,
#login input[type=text]:-ms-input-placeholder{
  color: #a4a4a4;
  font-size:0.75rem;
  font-weight: 400;
}

#login input[type=password]::-ms-input-placeholder,
#login input[type=text]::-ms-input-placeholder
{
  color: #a4a4a4;
  font-size:0.75rem;
  font-weight: 400;
}

#login h3{
	margin-bottom:25px;
	text-align: center;
	text-transform: uppercase;
	color: #ffffff;
  font-size: 2.5vw;
  font-weight: 300;
  margin: 15px 0;
}
#login .bg{
  background-color: #ffffff !important;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 5px 30px -10px #828282;
}
#login .login-box-holder{
  border-radius: 10px;
  background: #4fb3ff;
  box-shadow: 0 5px 24px -15px black;
}
#login .copyright{
  color: white;
  font-size: 0.68rem;
  margin: 25px 0 0 0;
}
#login .copyright a{
  color: white;
}
#login .copyright .devby{
  margin-left:20px;
}
#login .bg i{
	width:15px !important;
}
#login .reset-password a,
#login .login-box-holder a{
  color: #5c5c5c;
}
#login .reset-password a{
  font-size: 0.9rem;
  color: #acacac;
}
#login .aszf a{
	color: #3e8ff7;
}
#login .aszf label{
	cursor: pointer;
}
#content{
	position:relative;
	height:100%;
}
