@import url(//fonts.googleapis.com/css?family=PT+Sans);
/* line 4, sass/media.scss */
input[type=checkbox] {
  margin: 0;
}

/* line 7, sass/media.scss */
body {
  background: #f4f4f4;
  font-family: 'PT Sans', sans-serif;
  font-size: 1.43rem;
  height: 100%;
  position: relative;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#41b7f2+14,41b7f2+14,2a78dd+66 */
  background: #41b7f2;
  /* Old browsers */
  background: -moz-linear-gradient(45deg, #41b7f2 14%, #41b7f2 14%, #2a78dd 66%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #41b7f2 14%, #41b7f2 14%, #2a78dd 66%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #41b7f2 14%, #41b7f2 14%, #2a78dd 66%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#41b7f2', endColorstr='#2a78dd',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
}

/* line 21, sass/media.scss */
body, html {
  position: relative;
  font-size: 1rem;
}

/* line 25, sass/media.scss */
body.blured > * {
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
}

/* line 32, sass/media.scss */
body.logged-in {
  background: #edf1f5;
  color: #818e9d;
}

/* line 36, sass/media.scss */
input, textarea {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
}

/* line 43, sass/media.scss */
.left {
  text-align: left;
}

/* line 46, sass/media.scss */
.right {
  text-align: right;
}

/* line 49, sass/media.scss */
.center {
  text-align: center;
}

/* line 52, sass/media.scss */
.form-control:focus {
  border: 1px solid #a2c2ff !important;
  box-shadow: 0 0 0 0.2rem rgba(9, 127, 189, 0.28) !important;
}

/* line 56, sass/media.scss */
.form-control {
  border: 1px solid #e5e5e5;
}

/* line 59, sass/media.scss */
#login {
  z-index: 10;
  position: relative;
  width: 500px;
  max-width: 500px;
  margin: 0 auto;
  padding: 5rem 0 0 0;
}

/* line 67, sass/media.scss */
#login .login-box-holder {
  background: black;
}

/* line 70, sass/media.scss */
#login .logo img {
  width: 50%;
  max-width: 50%;
}

/* line 74, sass/media.scss */
#login .input-group-text {
  background-color: transparent;
  border: 1px solid #e5e5e5;
  border-right: none;
  color: #676767;
}

/* line 81, sass/media.scss */
#login input[type=text],
#login input[type=password] {
  padding: 0 15px;
  line-height: 45px;
  background: #efefef;
  color: black;
  font-weight: bold;
}

/* line 89, sass/media.scss */
#login input[type=password]::placeholder,
#login input[type=text]::placeholder {
  color: #a4a4a4;
  font-size: 0.75rem;
  font-weight: 400;
  opacity: 1;
}

/* line 97, sass/media.scss */
#login input[type=password]:-ms-input-placeholder,
#login input[type=text]:-ms-input-placeholder {
  color: #a4a4a4;
  font-size: 0.75rem;
  font-weight: 400;
}

/* line 105, sass/media.scss */
#login input[type=password]::-ms-input-placeholder,
#login input[type=text]::-ms-input-placeholder {
  color: #a4a4a4;
  font-size: 0.75rem;
  font-weight: 400;
}

/* line 111, sass/media.scss */
#login h3 {
  margin-bottom: 25px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 2.5vw;
  font-weight: 300;
  margin: 15px 0;
}

/* line 120, sass/media.scss */
#login .bg {
  background-color: #ffffff !important;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 5px 30px -10px #828282;
}

/* line 126, sass/media.scss */
#login .login-box-holder {
  border-radius: 10px;
  background: #4fb3ff;
  box-shadow: 0 5px 24px -15px black;
}

/* line 131, sass/media.scss */
#login .copyright {
  color: white;
  font-size: 0.68rem;
  margin: 25px 0 0 0;
}

/* line 136, sass/media.scss */
#login .copyright a {
  color: white;
}

/* line 139, sass/media.scss */
#login .copyright .devby {
  margin-left: 20px;
}

/* line 143, sass/media.scss */
#login .reset-password a,
#login .login-box-holder a:not(.btn) {
  color: #5c5c5c;
}

/* line 146, sass/media.scss */
#login .reset-password a {
  font-size: 0.9rem;
  color: #acacac;
}

/* line 150, sass/media.scss */
#login .aszf a {
  color: #3e8ff7;
}

/* line 153, sass/media.scss */
#login .aszf label {
  cursor: pointer;
}

/* line 156, sass/media.scss */
#content {
  position: relative;
  height: 100%;
}

/* line 160, sass/media.scss */
.activation-status {
  text-align: center;
}

/* line 163, sass/media.scss */
.activation-status h2 {
  font-size: 1.7rem;
  color: black;
  margin: 0 0 8px 0;
}

/* line 168, sass/media.scss */
.activation-status i {
  margin: 0 0 10px 0;
  color: #5bd98e;
}

/* line 172, sass/media.scss */
.activation-status .sub {
  margin: 5px 0;
  color: #5c5c5c;
}

/* line 176, sass/media.scss */
.badge {
  border-radius: 1rem;
}

/* line 179, sass/media.scss */
.slideMenu {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  background: white;
  z-index: 1000;
  width: 280px;
  box-shadow: 2px 0 7px -3px rgba(15, 45, 101, 0.72);
}
/* line 189, sass/media.scss */
.slideMenu .headerlogo {
  background: #1f4da3;
  height: 105px;
  position: relative;
}
/* line 195, sass/media.scss */
.slideMenu .headerlogo .slideMenuToggle {
  position: absolute;
  right: 28px;
  bottom: 10px;
  z-index: 10;
  cursor: pointer;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
/* line 204, sass/media.scss */
.slideMenu .headerlogo .slideMenuToggle:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}
/* line 209, sass/media.scss */
.slideMenu .headerlogo .slideMenuToggle i {
  color: white;
  font-size: 1.4rem;
}
/* line 215, sass/media.scss */
.slideMenu .headerlogo img {
  position: absolute;
  width: auto;
  max-width: initial;
  height: 70%;
  max-height: 70%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* line 227, sass/media.scss */
#top {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 999;
  padding-left: 280px;
  color: white;
  font-size: 1rem;
}
/* line 238, sass/media.scss */
#top .control-bar {
  background: black;
  height: 60px;
  font-size: 0.85rem;
  padding: 0 20px;
}
/* line 243, sass/media.scss */
#top .control-bar a, #top .control-bar a:hover, #top .control-bar a:visited {
  color: white;
  text-decoration: none;
}
/* line 248, sass/media.scss */
#top .control-bar > div.d-flex {
  height: 60px;
}
/* line 250, sass/media.scss */
#top .control-bar > div.d-flex > div {
  padding: 0 5px;
}
/* line 254, sass/media.scss */
#top .control-bar .message-alerts {
  flex: 1;
}
/* line 256, sass/media.scss */
#top .control-bar .message-alerts .ico {
  padding-right: 20px;
  position: relative;
}
/* line 260, sass/media.scss */
#top .control-bar .message-alerts .ico i {
  font-size: 20px;
  vertical-align: middle;
}
/* line 264, sass/media.scss */
#top .control-bar .message-alerts .ico .has-msg {
  position: absolute;
  right: 11px;
  top: -6px;
  color: #ff4444;
  pointer-events: none;
}
/* line 270, sass/media.scss */
#top .control-bar .message-alerts .ico .has-msg i {
  font-size: 16px;
}
/* line 274, sass/media.scss */
#top .control-bar .message-alerts .ico a, #top .control-bar .message-alerts .ico a:hover, #top .control-bar .message-alerts .ico a:visited {
  color: white;
}
/* line 278, sass/media.scss */
#top .control-bar .message-alerts .alert-message {
  background: #f7f6d1;
  color: #4a4a4a;
  font-size: 0.7rem;
  border-radius: 5px;
  padding: 5px;
  position: relative;
}
/* line 286, sass/media.scss */
#top .control-bar .message-alerts .alert-message a {
  background: #656565;
  color: white;
  text-decoration: none;
  padding: 4px 6px;
  margin-left: 4px;
  border-radius: 5px;
  font-size: 0.6rem;
  vertical-align: text-top;
}
/* line 297, sass/media.scss */
#top .control-bar .message-alerts .alert-message:before {
  content: "";
  border-style: solid;
  border-width: 5px;
  border-color: transparent #f7f6d1 transparent transparent;
  position: absolute;
  left: -10px;
  top: 50%;
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 310, sass/media.scss */
#top .control-bar .user-block {
  flex-basis: 150px;
  font-size: 1rem;
  font-weight: 300;
  text-align: right;
}
/* line 315, sass/media.scss */
#top .control-bar .user-block i.fa-user-circle {
  font-size: 1.54rem;
  margin-right: 5px;
  vertical-align: sub;
}
/* line 321, sass/media.scss */
#top .control-bar .user-block a {
  white-space: nowrap;
}
/* line 325, sass/media.scss */
#top .control-bar .user-group {
  flex-basis: 150px;
  text-align: right;
}
/* line 328, sass/media.scss */
#top .control-bar .user-group span {
  background: #2f2f2f;
  padding: 5px 8px;
  border-radius: 10px;
  font-size: 0.7rem;
}
/* line 336, sass/media.scss */
#top .title-bar {
  background: white;
  height: 45px;
  color: #818e9d;
  font-size: 1.1rem;
  padding: 0 25px;
}
/* line 342, sass/media.scss */
#top .title-bar .page-title {
  text-transform: uppercase;
}
/* line 345, sass/media.scss */
#top .title-bar > div.d-flex {
  height: 45px;
}

/* line 350, sass/media.scss */
.ct {
  padding-top: 105px;
  padding-bottom: 40px;
}

/* line 354, sass/media.scss */
.innerContent {
  padding: 25px;
}

/* line 357, sass/media.scss */
.page-pagination {
  font-size: 0.8rem;
  margin-right: 15px;
  color: #d7d7d7;
}
/* line 361, sass/media.scss */
.page-pagination a {
  margin: 0 3px;
}
/* line 364, sass/media.scss */
.page-pagination a, .page-pagination a:visited {
  color: #818e9d;
}
/* line 368, sass/media.scss */
.page-pagination a:last-child {
  color: #3d98e2;
}

/* line 373, sass/media.scss */
.menu ul, .menu li {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* line 380, sass/media.scss */
.menu > ul > li > a {
  color: #818e9d;
  text-decoration: none;
  display: block;
  line-height: 1.4;
  padding: 20px 15px;
  position: relative;
}
/* line 388, sass/media.scss */
.menu > ul > li > a i {
  width: 25px;
  margin-right: 15px;
  text-align: center;
  font-size: 1.1rem;
  vertical-align: middle;
}
/* line 396, sass/media.scss */
.menu > ul > li > a .badge {
  border-radius: .8rem;
  padding: 4px 7px;
  position: absolute;
  right: 35px;
  top: 50%;
  background: #3d98e2;
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 407, sass/media.scss */
.menu > ul > li.shortcut > a {
  padding: 15px 15px;
}
/* line 409, sass/media.scss */
.menu > ul > li.shortcut > a i {
  font-size: 1rem;
}
/* line 414, sass/media.scss */
.menu > ul > li:hover a {
  background: #f5f5f5;
  color: #484848;
}
/* line 419, sass/media.scss */
.menu > ul > li.has-more a:after {
  content: "\f105";
  font-family: "Font Awesome 5 Free";
  position: absolute;
  right: 15px;
  font-weight: bold;
  top: 50%;
  pointer-events: none;
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 430, sass/media.scss */
.menu > ul > li.has-more.on a:after {
  content: "\f107";
  color: white;
}
/* line 435, sass/media.scss */
.menu > ul > li.on a {
  background: #3d98e2;
  color: white;
  font-weight: bold;
}
/* line 439, sass/media.scss */
.menu > ul > li.on a .badge {
  background: #444444;
}
/* line 444, sass/media.scss */
.menu li.sub > a {
  font-size: 0.84rem;
  background: #f1f1f1;
  padding: 15px 15px;
}
/* line 449, sass/media.scss */
.menu li.sub > a > i {
  font-size: 1rem;
  margin-right: 5px;
  margin-left: 10px;
}
/* line 455, sass/media.scss */
.menu li.sub.on > a {
  background: #768188;
}
/* line 459, sass/media.scss */
.menu li.head {
  background: #eff2f5;
  padding: 8px 15px;
  color: #4d4d4d;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.6rem;
}
/* line 469, sass/media.scss */
.menu li.div {
  background: #edeff0;
  height: 1px;
}
/* line 473, sass/media.scss */
.menu .ni {
  display: none;
}

/* line 479, sass/media.scss */
.logout a,
.logout a:visited,
.logout a:hover {
  text-decoration: none;
  background: #818e9d;
  color: white;
  font-size: 0.75rem;
  padding: 6px 10px;
  border-radius: 5px;
}

/* line 489, sass/media.scss */
.wblock {
  background: white;
  border-radius: 2px;
  margin-bottom: 25px;
}
/* line 494, sass/media.scss */
.wblock .data-footer {
  padding: 25px;
  border-top: 0.5px solid #e0e9f3;
}
/* line 497, sass/media.scss */
.wblock .data-footer .title {
  line-height: 1;
  flex: 1;
}
/* line 500, sass/media.scss */
.wblock .data-footer .title h3 {
  color: black;
  font-weight: bold;
  font-size: 1.3rem;
  margin: 0 0 4px 0;
}
/* line 506, sass/media.scss */
.wblock .data-footer .title a {
  color: #818e9d;
  font-size: 0.8rem;
}
/* line 511, sass/media.scss */
.wblock .data-footer .count {
  flex-basis: 65px;
}
/* line 513, sass/media.scss */
.wblock .data-footer .count .count-wrapper {
  background: #4c4c4c;
  width: 65px;
  height: 65px;
  border-radius: 65px;
  position: relative;
}
/* line 519, sass/media.scss */
.wblock .data-footer .count .count-wrapper .num {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 1.8rem;
  color: white;
}
/* line 532, sass/media.scss */
.wblock .no-data-view {
  text-align: center;
  font-size: 1.1rem;
  font-weight: 300;
  color: #989899;
  padding: 2rem 1rem;
  background: #fafcfe;
}
/* line 540, sass/media.scss */
.wblock .no-data-view i {
  font-size: 2rem;
  color: #a1aeba;
}
/* line 549, sass/media.scss */
.wblock.color-green .data-footer .count .count-wrapper {
  background: #53e69d;
}
/* line 559, sass/media.scss */
.wblock.color-red .data-footer .count .count-wrapper {
  background: #ff7676;
}
/* line 569, sass/media.scss */
.wblock.color-blue .data-footer .count .count-wrapper {
  background: #3d98e2;
}

/* line 576, sass/media.scss */
.wblock.overview-services {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}

/* line 581, sass/media.scss */
.ct-info {
  font-size: 1rem;
  line-height: 1;
}
/* line 584, sass/media.scss */
.ct-info > div > div {
  padding: 0 10px;
}
/* line 588, sass/media.scss */
.ct-info .ico .ico-wrapper {
  background: #4c4c4c;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  position: relative;
}
/* line 594, sass/media.scss */
.ct-info .ico .ico-wrapper i {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 2rem;
  color: white;
}
/* line 605, sass/media.scss */
.ct-info .title {
  white-space: nowrap;
}
/* line 607, sass/media.scss */
.ct-info .title .line {
  height: 4px;
  background: #4c4c4c;
  margin-top: 10px;
}
/* line 613, sass/media.scss */
.ct-info .count {
  font-size: 2rem;
  color: black;
}
/* line 620, sass/media.scss */
.ct-info.color-blue .ico .ico-wrapper {
  background: #1f4da3;
}
/* line 625, sass/media.scss */
.ct-info.color-blue .title .line {
  background: #1f4da3;
}
/* line 632, sass/media.scss */
.ct-info.color-blue-light .ico .ico-wrapper {
  background: #3d98e2;
}
/* line 637, sass/media.scss */
.ct-info.color-blue-light .title .line {
  background: #3d98e2;
}
/* line 644, sass/media.scss */
.ct-info.color-red .ico .ico-wrapper {
  background: #ff7676;
}
/* line 649, sass/media.scss */
.ct-info.color-red .title .line {
  background: #ff7676;
}
/* line 656, sass/media.scss */
.ct-info.color-green .ico .ico-wrapper {
  background: #53e69d;
}
/* line 661, sass/media.scss */
.ct-info.color-green .title .line {
  background: #53e69d;
}

/* line 668, sass/media.scss */
.page404-content {
  text-align: center;
}
/* line 671, sass/media.scss */
.page404-content h1 {
  color: black;
  text-transform: uppercase;
  font-weight: bold;
}
/* line 675, sass/media.scss */
.page404-content h1 i {
  font-size: 8vw;
  margin: 0 0 30px 0;
  color: #ff7676;
}
/* line 682, sass/media.scss */
.page404-content table {
  margin: 0 auto;
}

/* line 687, sass/media.scss */
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 90;
  color: #4a5f79;
  padding-left: 280px;
  font-size: 0.7rem;
  line-height: 40px;
  height: 40px;
  background: #d6dbe0;
}
/* line 700, sass/media.scss */
footer a, footer a:visited, footer a:hover {
  color: #4a5f79;
}

/* line 706, sass/media.scss */
body.user-group-user #top .control-bar {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3d98e2+15,2a78dd+66 */
  background: #3d98e2;
  /* Old browsers */
  background: -moz-linear-gradient(45deg, #3d98e2 15%, #2a78dd 66%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #3d98e2 15%, #2a78dd 66%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #3d98e2 15%, #2a78dd 66%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d98e2', endColorstr='#2a78dd',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
}

/* line 716, sass/media.scss */
body.user-group-superadmin #top .control-bar {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#8d6093+15,6b3d73+66 */
  background: #8d6093;
  /* Old browsers */
  background: -moz-linear-gradient(45deg, #8d6093 15%, #6b3d73 66%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #8d6093 15%, #6b3d73 66%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #8d6093 15%, #6b3d73 66%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8d6093', endColorstr='#6b3d73',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
}

/* line 726, sass/media.scss */
body.user-group-szolgaltato #top .control-bar {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#76c1b8+15,53ab9f+66 */
  background: #76c1b8;
  /* Old browsers */
  background: -moz-linear-gradient(45deg, #76c1b8 15%, #53ab9f 66%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #76c1b8 15%, #53ab9f 66%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #76c1b8 15%, #53ab9f 66%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#76c1b8', endColorstr='#53ab9f',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
}
