$sidebar-width: 280px;
$top-control-height: 60px;
$top-title-height: 45px;

$color-blue: #1f4da3;
$color-blue-light: #3d98e2;
$color-green-light: #53e69d;
$color-red: #e31e24; 
$color-red-light: #ff7676;
