/* VÁLTOZÓK */
$imgroot: "//www.cp.mszk.web-pro.hu/src/images/";
$logo-width: 250px;
$page-width: 1150px;
$header-height: 60px;
$header-after-height: 450px;

/* COLORS */
$color-blue: #2c62c7;
$color-blue-light: #0aa3f5;
$color-blue-dark: #1f4da3;
$color-cian: #66c0b7;
$color-grey: #c5c6c6;
$color-red: #ff7979;


@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin border-radius-top($radius) {
  -webkit-border-radius: $radius $radius 0 0;
     -moz-border-radius: $radius $radius 0 0;
      -ms-border-radius: $radius $radius 0 0;
          border-radius: $radius $radius 0 0;
}
@mixin border-radius-left($radius) {
  -webkit-border-radius: $radius 0 0 $radius;
     -moz-border-radius: $radius 0 0 $radius;
      -ms-border-radius: $radius 0 0 $radius;
          border-radius: $radius 0 0 $radius;
}
@mixin border-radius-right($radius) {
  -webkit-border-radius: 0 $radius $radius 0;
     -moz-border-radius: 0 $radius $radius 0;
      -ms-border-radius: 0 $radius $radius 0;
          border-radius: 0 $radius $radius 0;
}
