@import 'settings';
//@import 'fonts';
body, html{
  height: 100%;
  background: white;
}
.pw{
  width: $page-width;
  max-width: $page-width;
  margin: 0 auto;
}

header{
  background: white;
}

body:not(.homepage){
  header{
    border-bottom: 60px solid $color-blue-dark;
  }
}
body.singlepage{
  header{
    border-bottom: 85px solid $color-blue-dark;
  }
}

header{
  & > .top > .wrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .top-center{
      flex-basis: $logo-width;
      position: relative;
      .logo{
        background: white;
        position: absolute;
        z-index: 10;
        left: 0;
        right: 0;
        top: 0;
        bottom: -20px;

        img {
          position: absolute;
          left: 50%;
          top: 50%;
          max-width: initial;
          width: auto;
          height: 80%;
          max-height: 80%;
          -moz-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
        }
      }
    }
    .top-left,
    .top-right{
      flex-basis: calc((100% - 250px) / 2);
    }

    .top-left,
    .top-right{
      ul {
        float: left;
      }

      a.active{
        position: relative;
        color: $color-blue;

        &:after{
          content:"";
          height: 5px;
          position: absolute;
          bottom:  10px;
          left: 25px;
          right: 25px;
          background: $color-blue;
        }
      }
    }
    .top-right{
      ul {
        float: right;
      }
    }

    .navigator{
      height: $header-height;
      ul, li {
        list-style: none;
        margin: 0;
        padding: 0;
      }

      ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        flex-wrap: wrap;
        height: $header-height;
        li {
          a{
            line-height: $header-height;
            color: #5b5b5b;
            text-decoration: none;
            padding: 0 25px;
            display: block;
            text-align: center;
            text-transform: uppercase;

            &:hover{
              color: black;
            }
          }

          &.login{
            a{
              background: $color-blue;
              color: white;
            }
          }
          &.reg{
            a{
              background: $color-blue-dark;
              color: white;
            }
          }
        }
      }
    }
  }
}
.inside-content{
  min-height: 600px;
}

body.singlepage{
  .page-reader{
    padding: 0 0 40px 0;
    font-size: 1rem;
    line-height: 1.45;
    .header {
      margin-top: -45px;
      margin-bottom: 10px;
      h1 {
        margin: 0;
        background: #ffffff;
        padding: 15px 25px;
        float: left;
        color: black;
        text-transform: uppercase;
        letter-spacing: -1px;
      }
    }
  }
}

.home-after-header{
  & > .wrapper{
    position: relative;

    .texts{
      text-align: center;
      position: absolute;
      top: 60px;
      left: 50%;
      z-index: 2;
      color: #4c4c4c;
      font-size: 1.4vw;
      -moz-transform:translateX(-50%);
      transform:translateX(-50%);

      h1 {
        text-transform: uppercase;
        font-weight: 300;
        margin: 0 0 20px 0;
      }
      h2{
        font-size: 1.4rem;
        font-weight: bold;
        margin: 0 0 5px 0;
      }
    }

    .visual-boxes{
      position: relative;
      z-index: 1;
      svg {
        width: 100%;
      }
    }
  }
}

.ajanlat-requester{
  .header{
    & > .d-flex{
      & > .titles{
        flex-basis: 45%;
        text-transform: uppercase;
        font-size: 1.5rem;
        padding-right: 25px;
        & > div {
          padding: 4px 0;
        }
        .main{
          border-bottom: 0.5px solid #d0d0d0;
        }
        .sub{
          font-size: 1rem;
          font-weight: bold;
          color: $color-cian;
        }
      }
      & > .steps{
        flex-basis: 55%;
        position: relative;
        .step-progress{
          height: 5px;
          background: #d1d1d1;
          position: absolute;
          left: 5px;
          top: 50%;
          right: 5px;
          z-index: 1;
          border-radius: .25rem;
          -webkit-transform:translateY(-50%);
          transform:translateY(-50%);
          .progress{
            width: 50%;
            background: $color-blue !important;
            position: absolute;
            left: 0;
            top: 0;
            height: 5px;
          }
        }
        .step-holder{
          position: relative;
          z-index: 20;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          align-items: center;
          justify-content: space-between;
          flex-wrap:nowrap;
          padding: 24px 0 0 0;

          .step{
            cursor: pointer;
            outline: none;
            .index{
              background: #d1d1d1;
              margin: 0 auto;
              color: white;
              text-align: center;
              line-height: 40px;
              height: 40px;
              width: 40px;
              border-radius: 40px;
              font-size: 1.6rem;
              font-weight: bold;
              border: 4px solid white;
              box-shadow: 0 0 0 4px #d1d1d1;
              box-sizing: content-box;
              position: relative;
              -webkit-transition: all .5s;
              transition: all .5s;
              span {
                position: absolute;
                top:50%;
                left: 50%;
                -webkit-transform:translate(-50%, -50%);
                transform:translate(-50%, -50%);
              }
            }
            .text{
              text-align: center;
              text-transform: uppercase;
              color: #686868;
              font-size: 0.7rem;
              margin: 10px 0 0 0;
            }

            &.active{
              .index{
                background: $color-blue;
                box-shadow: 0 0 0 4px $color-blue;
              }
            }
            &.current{
              .text{
                font-weight: bold;
                color: black;
              }
            }
            &.now{
              .index{
                background: $color-cian;
                box-shadow: 0 0 0 4px $color-cian;
              }
            }
            &:hover{
              .index{
                transform: scale(1.1);
              }
            }
          }
        }
      }
    }
  }

  .step-containers{
    margin: 25px 0;

    .services{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      flex-wrap: wrap;
      margin: -15px;

      & > .service {
        flex-basis: calc(100% / 5);
        padding: 15px;
        & > .wrapper{
          background: white;
          border-radius: 10px;
          font-size: 0.9rem;
          border: 0.5px solid #d1d1d1;
          overflow: hidden;
          -webkit-transition: all .5s;
          transition: all .5s;
          -webkit-transform-origin: center;
          transform-origin: center;
          padding: 0 0 5px 0;

          .title{
            padding: 10px;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 1rem;
            padding-right: 25px;
            line-height: 1.2;
            height: 60px;
            position: relative;

            &:after{
              position: absolute;
              right: 5px;
              top: 5px;
              font-family: "Font Awesome 5 Free";
              font-weight: 400;
              content: "\f0c8";
              color: #dbdbdb;
            }
          }

          .image{
            height: 8vw;
            background: #f3f3f3;
          }

          .desc{
            font-size: 0.8rem;
            font-weight: 300;
            line-height: 1.3;
            padding: 10px;
            height: 110px;
            overflow: hidden;
          }
          .more-info{
            display: none;
            background: $color-blue;
            color: white;
            padding: 5px 15px;
            font-size: 0.8rem;
          }
          .sel-item{
            display: none;
            font-size: 0.8rem;
            label {
              padding: 5px 15px;
              margin: 0;
              cursor: pointer;
              display: block;
              width: 100%;
            }
          }
        }

        &:hover{
          & > .wrapper{
            box-shadow: 0 0 20px -10px #717171;
            transform: scale(1.05);
          }
          .sel-item,
          .more-info{
            display: block;
          }
        }

        &.picked{
          & > .wrapper{
            box-shadow: 0 0 20px -5px $color-blue;
            .title{
              color: $color-blue-light;
            }
          }
          .title{
            &:after{
              content:"\f14a";
              color: $color-red;
            }
          }
        }
      }
    }

    .services-configurator{
      .services-group{
        .service {
          & > .head{
            text-transform: uppercase;
            color: $color-blue-light;
            font-size: 1.5rem;
            font-weight: bold;
            padding: 10px 0;
          }
          .sub-services{
            .sub-service{
              & > .wrapper{
                border: 0.5px solid #d5d5d5;
                padding: 15px;
                border-radius: 10px;
                -webkit-transition: all .5s;
                transition: all .5s;

                & > .title{
                  text-transform: uppercase;
                  font-size: 1.1rem;
                  font-weight: bold;
                  color: #6a6a6a;
                  position: relative;
                  outline: none;
                  cursor: pointer;

                  .subserv-item-text{
                    font-weight: 300;
                    color: #8c8c8c;
                    text-transform: none;
                    font-size: 0.9rem;
                  }

                  .adder{
                    position: absolute;
                    right: 13px;
                    top: 50%;
                    -webkit-transform:translateY(-50%);
                    transform:translateY(-50%);
                    &:before{
                      font-weight: 400;
                      font-family: "Font Awesome 5 Free";
                      content:"\f0c8";
                      font-size: 1.4rem;
                      color: #bababa;
                    }
                  }
                }

                .service-comment{
                  padding: 5px;
                  .head{
                    margin: 10px 0 5px 0;
                    font-weight: bold;
                    color: black;
                  }
                  textarea{
                    border-radius: 10px;
                    padding: 15px;
                    min-height: 55px;
                    border: 0.5px solid #d5d5d5;
                  }
                }
              }
              .subserv-items{
                .subserv-item{
                  padding: 5px;
                  & > .wrapper{
                    border: 0.5px solid #cbcbcb;
                    background: #f5f5f5;
                    padding: 10px;
                    font-weight: bold;
                    font-size: 0.85rem;
                    color: #151515;
                    border-radius: 10px;
                    cursor: pointer;
                    outline: none;
                    position: relative;

                    &:hover{
                      background: $color-blue;
                      color: white;
                    }
                  }

                  &.selected{
                    & > .wrapper{
                      background: $color-blue;
                      color: white;

                      &:after{
                        pointer-events: none;
                        position: absolute;
                        right: 10px;
                        top: 50%;
                        -webkit-transform:translateY(-50%);
                        transform:translateY(-50%);
                        font-family: "Font Awesome 5 Free";
                        content:"\f560";
                        font-size: 1rem;
                        color: $color-cian;
                      }
                    }
                  }
                }
              }
              &.selected{
                & > .wrapper > .title > .adder:before{
                  content:"\f14a";
                  color: $color-red;
                }
                & > .wrapper{
                  border: 3px solid $color-cian;
                }
              }
            }
            .sub-service + .sub-service{
              margin: 10px 0 0 0;
            }
          }
        }
        .service + .service {
          margin: 15px 0 0 0;
        }
      }
    }

    .next-btn{
      margin: 30px 0 20px 0;
      button[class*=btn-default]{
        border-radius: 25px;
      }
      button[class*=btn-primary]{
        text-transform: uppercase;
        border-radius: 25px;
      }
    }

    .requester-form{
      background: #f5f4f4;
      border-radius: 5px;
      border: 0.5px solid #dbdbdb;
      & > .wrapper{
        padding: 25px;

        .row + .row{
          margin-top: 15px;
        }

        input[type=text], textarea{
          font-weight: bold;
          color: black;
          border-radius: 20px;
          border: 0.5px solid #d2d2d2;
          &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: #acacac;
            font-weight: 300;
            opacity: 1; /* Firefox */
          }

          &:-ms-input-placeholder { /* Internet Explorer 10-11 */
            color: #acacac;
            font-weight: 300;
          }

          &::-ms-input-placeholder { /* Microsoft Edge */
            color: #acacac;
            font-weight: 300;
          }
        }

        textarea{
          width: 100%;
          padding: 10px;
        }
      }
    }
  }
}

.block-list{
  background: #f5f4f4;
  border-radius: 10px;
  border: 0.5px solid #dbdbdb;
  overflow: hidden;
  & > .header{
    text-align: center;
    font-size: 1.8vw;
    color: #444444;
    text-transform: uppercase;
    padding: 15px;
    background: white;
  }
  & > .wrapper{
    & > .item{
      & > .head{
        background: $color-blue;
        border-bottom: 0.5px solid lighten($color-blue, 10%);
        color: white;
        text-transform: uppercase;
        padding: 10px;
        font-weight: bold;
        font-size: 1.2rem;
      }

      .subitem{
        border-bottom: 0.5px solid #c9c9c9;
        outline: none;
        & > .head{
          color: #555555;
          text-transform: uppercase;
          font-weight: bold;
          border-bottom: 0.5px solid #c9c9c9;
          padding: 20px;
          outline: none;

          i{
            color: $color-red;
            margin-right: 5px;
          }
        }

        .service-comment{
          padding: 25px;
          font-size: 0.8rem;
          line-height: 1.3;
        }

        .paramitem{
          padding: 10px 45px;
          line-height: 1.2;
          color: black;
          outline: none;

          i {
            color: $color-cian;
            font-size: 0.8rem;
            margin: 0 5px 0 0;
          }

          &.unselected{
            color: #8c8c8c;
            cursor: pointer;
            i{
              color: #8c8c8c;
            }
          }
        }

        &.unselected{
          & > .head{
            color: #acacac;
            cursor: pointer;
            outline: none;
            i{
              color: #acacac;
            }
          }
        }
      }
    }
  }
  & > .footer{
    padding: 15px;
    background: white;
  }
}

footer{
  background: $color-blue;
  color: white;

  .footer-inner{
    padding: 25px 0;

    .logo {
      text-align: center;
      margin: 0 0 20px 0;
      img {
        max-height: 80px;
        height: 80px;
        width: auto;
        max-width: initial;
      }
    }

    .navigator{
      ul, li {
        list-style: none;
        margin: 0;
        padding: 0;
      }

      ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        li {
          a{
            padding: 10px;
            display: block;
            text-align: center;
          }
        }
      }
    }
  }

  a, a:link, a:visited{
    color: #ffffff;
    text-decoration: none;
  }

  a:hover{
    color: $color-cian;
  }

  .copyright {
    background: $color-blue-dark;
    color: #a2d9f7;
    text-align: center;
    padding: 20px 0;

    a, a:link, a:visited{
      color: #a2d9f7;
    }

    .poweredby{
      margin-left: 25px;
    }
  }
}


@import 'responsives';
