@import 'settings';
//@import 'fonts';
body, html{
  height: 100%;
  background: white;
}
.pw{
  width: $page-width;
  max-width: $page-width;
  margin: 0 auto;
}

header{
  background: white;
}

header{
  & > .top > .wrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .top-center{
      flex-basis: $logo-width;
      position: relative;
      .logo{
        background: white;
        position: absolute;
        z-index: 10;
        left: 0;
        right: 0;
        top: 0;
        bottom: -20px;

        img {
          position: absolute;
          left: 50%;
          top: 50%;
          max-width: initial;
          width: auto;
          height: 80%;
          max-height: 80%;
          -moz-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
        }
      }
    }
    .top-left,
    .top-right{
      flex-basis: calc((100% - 250px) / 2);
    }

    .top-left{
      ul {
        float: left;
      }

      a.active{
        position: relative;
        color: $color-blue;

        &:after{
          content:"";
          height: 5px;
          position: absolute;
          bottom:  10px;
          left: 25px;
          right: 25px;
          background: $color-blue;
        }
      }
    }
    .top-right{
      ul {
        float: right;
      }
    }

    .navigator{
      height: $header-height;
      ul, li {
        list-style: none;
        margin: 0;
        padding: 0;
      }

      ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        flex-wrap: wrap;
        height: $header-height;
        li {
          a{
            line-height: $header-height;
            color: #5b5b5b;
            text-decoration: none;
            padding: 0 25px;
            display: block;
            text-align: center;
            text-transform: uppercase;

            &:hover{
              color: black;
            }
          }

          &.login{
            a{
              background: $color-blue;
              color: white;
            }
          }
          &.reg{
            a{
              background: $color-blue-dark;
              color: white;
            }
          }
        }
      }
    }
  }
}
.inside-content{
  min-height: 600px;
}

.home-after-header{
  & > .wrapper{
    position: relative;

    .texts{
      text-align: center;
      position: absolute;
      top: 60px;
      left: 50%;
      z-index: 2;
      color: #4c4c4c;
      font-size: 1.4vw;
      -moz-transform:translateX(-50%);
      transform:translateX(-50%);

      h1 {
        text-transform: uppercase;
        font-weight: 300;
        margin: 0 0 20px 0;
      }
      h2{
        font-size: 1.4rem;
        font-weight: bold;
        margin: 0 0 5px 0;
      }
    }

    .visual-boxes{
      position: relative;
      z-index: 1;
      svg {
        width: 100%;
      }
    }
  }
}

footer{
  background: $color-blue;
  color: white;

  .footer-inner{
    padding: 25px 0;

    .logo {
      text-align: center;
      margin: 0 0 20px 0;
      img {
        max-height: 80px;
        height: 80px;
        width: auto;
        max-width: initial;
      }
    }

    .navigator{
      ul, li {
        list-style: none;
        margin: 0;
        padding: 0;
      }

      ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        li {
          a{
            padding: 10px;
            display: block;
            text-align: center;
          }
        }
      }
    }
  }

  a, a:link, a:visited{
    color: #ffffff;
    text-decoration: none;
  }

  a:hover{
    color: $color-cian;
  }

  .copyright {
    background: $color-blue-dark;
    color: #a2d9f7;
    text-align: center;
    padding: 20px 0;

    a, a:link, a:visited{
      color: #a2d9f7;
    }

    .poweredby{
      margin-left: 25px;
    }
  }
}


@import 'responsives';
