/* FONTS */
$font-cond: 'Roboto', sans-serif;
$font-sans-narrow: 'Roboto', sans-serif;
$color-text: #4d4d4d;

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,700&subset=latin-ext');
